extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Warren Leyes
        p.lead.text-light
          | Front-end  and Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | We don’t serve their kind here! What? Your droids. They’ll have to wait outside. We don’t want them here. Listen, why don’t you wait out by the speeder. We don’t want any trouble. I heartily agree with you sir. Negola dewaghi wooldugger?!? 
            | He doesn’t like you. I’m sorry. I don’t like you either You just watch yourself. We’re wanted men. I have the death sentence in twelve systems. I’ll be careful than. You’ll be dead. This little one isn’t worth the effort. Come let me buy you something…
            | The approach will not be easy. You are required to maneuver straight down this trench and skim the surface to this point. The target area is only two meters wide. It’s a small thermal exhaust port, right below the main port. The shaft leads directly to the reactor system. A precise hit will start a chain reaction which should destroy the station.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li JS
          li Node
          li React
          li View 
          li Sass
        h6 Contact Info
        ul
          li 604-345-5203
          li warren.leyes@gmail.com
        a.button.expanded(href='https://www.linkedin.com/in/warren-leyes/') LinkedIn
        a.button.expanded(href='https://github.com/WLeyes') GitHub
        a.button.expanded(href='https://twitter.com/warren_leyes') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  